<!-- <div class="col s10 offset-s1 m4 offset-m1 ">
  <div class="card">
    <div class="card-image">
      <img src={{card.url}}>
      <span class="card-title">{{card.name}}</span>
      <a class="btn-floating halfway-fab waves-effect waves-light red" href={{card.url}} target="blank"><i class="material-icons">add</i></a>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
</div> -->

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{card.url}} alt={{card.name}}>
  <div class="card-body">
    <p class="card-text">{{card.name}}</p>
  </div>
</div> -->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{card.url}} alt={{card.name}}>
  <div class="card-body">
    <h5 class="card-title">{{card.name}}</h5>
    <a href="#" class="btn btn-primary">+</a>
  </div>
</div>